asgiref==3.11.0
Django==4.2.29
django-crispy-forms==2.5
crispy-bootstrap5==2026.3
django-environ==0.13.0
dj-database-url==2.1.0
gunicorn==21.2.0
whitenoise==6.12.0
python-dotenv==1.2.2
google-generativeai==0.8.6
razorpay==2.0.1
pillow==12.1.1
requests==2.32.5
pydantic==2.12.5
psycopg2-binary==2.9.11
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
